extends /theme/_layout.pug

block append head
	link(href="app.css" type="text/css")
	//- script(src='index.js')

block body
	h1 I am the #{data.page.home.name} page.

	include:markdown-it(linkify) test.md
